body{
    background-color: black;
    width:100%;
    margin: 0 auto;
    color:white;
    font-family: "Fira Sans", sans-serif;
  
}


.wrapper-website{
    width:50%;
    margin:0 auto;
    

}

/* nav */
nav{
    position: fixed;
    width:50%;
}
.wrapper-nav .right ul li {
    display: inline-block;
    list-style-type:none;
  display: inline-block;
  margin: 10px;

}


.wrapper-nav .right ul li a{
text-decoration: none;
color:rgb(255, 255, 255);


}
.wrapper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    
 
    
}
.wrapper-nav .left{
    display: flex;
    gap: 0;
}
.wrapper-nav .left h4{
   padding-left: 0%;
}
.wrapper-nav .right #about-link
{
    color: #429B2B;
}


/* hero */
.wrapper-hero{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1000px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
  

}
.wrapper-hero .main{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}
.wrapper-hero .main h1{
    font-size:3rem;
    margin-bottom: -1%;
    text-align: center;

}
.wrapper-hero .main p{
    font-size:0.7rem;
    margin:10%;
    width:50%;
    text-align: center;

}
button{
    background-color: #429B2B;
    color: white;
    padding: 1%;;
    width:50%;

}

/* about */
.wrapper-about{
    width: 100%;
    height: 700px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-about .right{
    width: 50%;
}
.wrapper-about .right p{
    text-align: center;
    
}


.skills .wrapper-skills {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    text-align: center;
    font-size: 0.5rem;
    
    
}

.skills .wrapper-skills .html{
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;

}

.skills .wrapper-skills .css{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


.skills .wrapper-skills .javascript{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;




}

.wrapper-project{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    
}

.skills h1{text-align: center;}
.project h1{text-align: center;}

.wrapper-project .left
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    justify-content: center;
    align-items:center;
}
.wrapper-contact{
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 1000px;
    flex-direction: column;
    
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: #000000 solid;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    background-color: #000000;
    color: white;
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: #000000 solid;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    background-color: #000000;
    color: white;
  }

  input[type=submit] {
    background-color: #429B2B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50%;
  

  }
  
 
  input[type=submit]:hover {
    background-color:#429B2B;
  }
  

  .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;

  }

  